/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#jumbo {
    background-image: url(assets/img/datacentre.jpg);
    background-size: cover;
    background-position-y: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 -5px 20px rgba(0,0,0,.6);
}

#jumbo .container {
    color: #fff;
    text-shadow: 0 0px 5px rgba(0,0,0,.75);
}

/*video {
    float: left;
    z-index: -100;
    position: absolute;
    top: -30%;
    width: 100%;
    height: auto;
}*/


.flag {
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 12px;
  vertical-align: top;
  margin-right: 10px;
}

.flag img {
  position: absolute;
  top: 0;
  left: -6px;
  height: 24px;
}

.profilepic {
  text-align: center;
}

.profilepic img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
}

.flag, .profilepic img {
  box-shadow: 0 -1px 0 rgba(0,0,0,.2);
}

.social {
  padding-left: 21px;
  list-style-type: none;
}

.social li {
  position: relative;
  line-height: 21px;
}

.social li::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: -21px;
  top: 2px;
  border-radius: 8px;
}

.social li.li::before {
  background-image: url('assets/img/icons/li.png');
}

.social li.fb::before {
  background-image: url('assets/img/icons/fb.png');
}

.social li.email::before {
  background-image: url('assets/img/icons/mail.png');
}

.social li.icl::before {
  background-image: url('assets/img/icons/icl.png');
}

figure {
  text-align: center;
  margin: 30px 0;
}

.col-md-4 figure {
  margin: 5px 0;
}

figcaption {
  margin-top: 10px;
}

.reference {
  color: inherit !important;
  font-weight: 700;
  text-style: italic;
  padding: 0 2px;
}

ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
}

ol ol > li {
  display: block;
}

ol ol {
  padding-left: 0;
}

ol ol > li:before {
  content: counters(item, ".") ". ";
}

p {
  font-size: 125%;
  font-family: Georgia;
}

.navbar {
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.navbar-brand {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

li[id^=fn] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

li[id^=fn].flash {
  -webkit-animation: flash 0.75s;
  -moz-animation: flash 0.75s;
  animation: flash 0.75s;
}

@-webkit-keyframes flash {
    0%   {background-color: default;}
    5%   {background-color: yellow;}
    100% {background-color: default;}
}
@-moz-keyframes flash {
    0%   {background-color: default;}
    5%   {background-color: yellow;}
    100% {background-color: default;}
}
@keyframes flash {
    0%   {background-color: default;}
    5%   {background-color: yellow;}
    100% {background-color: default;}
}

.highlightrow {
  background-color: #4CAF50;
  color: white;
}
